.gallery{
    
    width: 90%;
    /* border: 1px solid; */
    margin: 50px auto;
    text-align: center;
}
.campus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    /* border: 1px solid; */
}
.campus img{
    width:23%;
    /* display: block; */

    border-radius: 10px;
}
.btn img{
    align-self: center;
}

@media (max-width:800px){
    .campus img{
        flex-basis: 48%;
        margin-bottom: 25px;
    }
    .campus{
        flex-wrap: wrap;
        
    }

}